.order {
    background: #F47322;
    border-radius: 25px;
    padding: 12px 52px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}