.pagination-btn {
    background: rgba(235, 235, 235, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 17px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.pagination-icon {
    width: 65%;
}